@charset "utf-8";
/* CSS Document */

  <style>
    body {
      margin: 0;
      padding: 0;
    }

    .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #f7ede3;
      padding: 30px;
    }

    .header a {
      color: #333;
      text-decoration: none;
      margin-right: 80px;
    }

    .content {
      padding-top: 80px;
    }

    .container {
      display: flex;
      justify-content: space-between;
    }

    .column {
      width: 30%;
      margin-bottom: 20px;
    }

    .column img {
      display: block;
      width: 100%;
      height: auto;
    }

    .column h3 {
      text-align: center;
      margin-top: 10px;
    }

  </style>
</head>