@charset "utf-8";
/* CSS Document */

div {
	border: 2px solid #000000;
	padding: 0.25%;
}

.container {
      margin-left: 3%;
      margin-right: 3%;
      padding: 20px;
      background-color: #f7ede3;
    }

.row{
	display: flex;
}

.header {
      text-align: left;
      padding: 60px;
    }

    .header h1 {
	  font-family: Gotham, 'Helvetica Neue', sans-serif;
      font-size: 50px;
	  color: #f33b3b;
      margin: -10px;
    }

    .header h2 {
	  font-family: Gotham, 'Helvetica Neue', sans-serif;
      font-size: 70px;
	  color: #f33b3b;
	  padding-left:58%;
      margin: auto;
    }
	
.side{
}
	.side h1{
	font-family: Gotham, 'Helvetica Neue', sans-serif;
	font-size: 250%;
	color: #f33b3b;
	width: 60%;
	padding-left: 8.5%;
	padding-top: 2.5%;
}

    .side p{
	font-family: Gotham, 'Helvetica Neue', sans-serif;
	font-size: 100%;
	color: black;
	float:left;
	width: 90%;
	margin-top: -2%;
	margin-left: 8.5%;
	box-sizing: border-box;
}

.header1{
	font-family: Gotham, 'Helvetica Neue', sans-serif;
	font-size: 200%;
	color: #f33b3b;
	float: left;
	width: 100%;
	margin-left: 4%;
	margin right: 10%;
	box-sizing: border-box;
}

.info{
	font-family: Gotham, 'Helvetica Neue', sans-serif;
	font-size: 100%;
	color: black;
	float: left;
	width: 95%;
	margin-left: 4%;
	box-sizing: border-box;
}